<!--Assignment 6th lect -->
<div>
    <h2 class="text-center mt-5 bg-secondary">Directive Assignment</h2>
</div>
<div class="container">

    <div class="row text-center">
        <div class="col-md-6  bg-secondary">
            <h4 class="p-2">Attribute Directive</h4>
            <p class="font-weight-bold">Most popular position in IT</p>
            <ul>
                <li appCustomdirective class="text-left p-2 text-white font-weight-bold">Software Engineer</li>
                <li class="text-left p-2 text-white font-weight-bold">Product Manager</li>
                <li appCustomdirective class="text-left p-2 text-white font-weight-bold">Full-stack Developer </li>
                <li class="text-left p-2 text-white font-weight-bold">Database Manager</li>
                <li appCustomdirective class="text-left p-2 text-white font-weight-bold">Devops Engineer</li>
            </ul>
        </div>
        <div class="col-md-6 heading">
            <h4 class="p-2">Custom Directive</h4>
            <table>
                <tr>
                    <td>
                        <label><b>Password :</b></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="password" class="col-md-">
                    </td>
                </tr>
            
                <tr>
                    <label><b class="text-left">Confirm Password :</b></label>&nbsp;&nbsp;
                    <input type="password" appConfirmValidation="password">
                </tr>
    
                <tr>
                    <input type="submit" class=" btn btn-primary text-center p-2 mt-3 s1">
                </tr>
            </table>
        </div>
    </div>
</div>