input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px brown;
}
.btn-add{
    font-size: 12px;
    font-weight: 700;

}
.btn-add i{
    font-size: 17px;
    font-weight: 700;
    line-height: 15px;
    display: inline;
    position: relative;
    top: 7px;
    margin-right:3px ;
}
.btn-add:hover{
    border: 1px solid #007bff;
    background: white;
}