<div class="row">
    <div class="col-md-8">
        <div class="card">
            <img class="card-img-top" src="../../assets/mobile.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mobile</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="mobile" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/tablet.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">tablet</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tablet" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/washing.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Washing machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="washing" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="../../assets/tv.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>

