<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="demo">
    Welcome to {{ title }}!
  </h1>
  <!-- <app-server></app-server> -->
  
 

  <img width="300"style="margin-top:10px" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <!-- <app-comp1></app-comp1>
  <app-comp2></app-comp2>
  <app-comp3></app-comp3>
  <app-comp4></app-comp4> -->
  <!-- <app-emp1></app-emp1>
  <app-emp2></app-emp2> -->
 

  
  <!-- <app-pipedemo></app-pipedemo> -->
  <!-- <app-filterpipe></app-filterpipe> -->
</div>
<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-demodirectives></app-demodirectives> -->
<!-- <app-custom-directive-assignment></app-custom-directive-assignment> -->
<!-- <app-servers></app-servers>
<app-structuraldirectives></app-structuraldirectives>-->
 <!-- <app-attribute></app-attribute>  -->
<!-- <app-parent></app-parent> -->

<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <app-server></app-server> -->
<!-- <app-servers></app-servers> -->

<!-- <warn-app></warn-app> -->
<!-- <app-alert></app-alert> -->
<!-- <app-simpleform></app-simpleform> -->
<!-- <app-simpleform-assignment></app-simpleform-assignment> -->
<!-- <app-form></app-form> -->
<!-- <app-reactiveform-assignment></app-reactiveform-assignment> -->
<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-servicecomp1></app-servicecomp1>
<app-servicecomp2></app-servicecomp2> -->
<header>
  <nav>
    <ul class="nav nav-tabs">
      <!-- using href attribute same tab madhe page load hote so we use routerLink -->
      <!--  [routerLinkActiveOptions]="{exact:true}" -->
      <li class="nav-item"><a routerLink="home/"  class="nav-link" routerLinkActive="active">Home</a></li>
      <li class="nav-item"><a routerLink="aboutus/" class="nav-link" routerLinkActive="active myclass">About Us</a></li>
      <li class="nav-item"> <a routerLink="contactus/" class="nav-link" routerLinkActive="active myclass">Contact Us</a></li>
      <li class="nav-item"> <a routerLink="product/" class="nav-link" routerLinkActive="active">Product</a></li> 
      <li class="nav-item"><a routerLink="portfolio/" class="nav-link" routerLinkActive="active">Portfolio</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
