<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-left rounded shadow py-4">
      <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm">
        <div ngModelGroup="userDetails" #userDetails="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required placeholder="Enter username"
              [(ngModel)]="username">
            <small [(ngModel)]="username" *ngIf="username">User name is: {{username}}</small>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" #email="ngModel" email name="email" required
              placeholder="Enter email" ngModel>
            <small class="text-danger" *ngIf="!email.valid && email.touched">Enter valid email address</small>
          </div>
          <small class="text-danger" *ngIf="!userDetails.valid && userDetails.touched">Please valid details</small>
        </div>
        <div class="form-group">
          <label for="course">Select course</label>
          <select name="course" class="form-control" id="course" [ngModel]="defaultValue">
            <option value="Angular">Angular</option>
            <option value="Javascript">Javascript</option>
            <option value="React">React</option>
          </select>
        </div>
        <div>
          <!-- <div class="example-full-width">
            <label for="date">Date</label>
            <input type="date" name="date" id='date'  [min]="minDate" [max]="maxDate"  placeholder="Choose a date">
            
          </div> -->
          </div>
        <div class="form-group">Gender</div>
        <div *ngFor="let gender of genders" class="custom-control custom-radio">
          <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" [ngModel]="defaultGender"
            class="custom-control-input">
          <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
        </div>
        
    
    <button type="submit" [disabled]="!myForm.valid" class="btn btn-primary">Submit</button>
    <div class="row justify-content-center mt-2" *ngIf="submitted">
      <div class="col-md-7 rounded shadow py-4">
        <h2 class="text-primary">Form Data</h2>
        <p>Username:<strong> {{employee.username}}</strong></p>
        <p>Email:<strong> {{employee.email}}</strong></p>
        <p>Course:<strong> {{employee.course}}</strong></p>
        <p>Gender:<strong> {{employee.gender}}</strong></p>
      </div>
    </div>
    </form>
  </div>
  
</div>
</div>