<div [ngStyle]="{'color':colorVal,'background-color':'#ddd'}">Learning angular 8</div>
<!-- < add one or more values> -->
<h4>Ng Class</h4>
<ul *ngFor="let person of people">
    <li [ngClass]="{
        'text-success':person.country==='UK',
        'text-primary':person.country==='USA',
        'text-danger':person.country==='India'
    }">
        {{person.name}}({{person.country}})</li>
</ul>
<p>Normal Paragraph</p>
<p appCustomdirective>Custom Paragraph</p>
<div appCustomdirective>Custom directive div</div>


<!------------------------ 7th lecture --------------------------------->
<h4>Template reference variable :-</h4>
<div style="margin-left: 150px; margin-top: 5px;"> 
    <input type="text"id=""name="" #username (keyup.enter)="show(username.value)"> 
    <input type="text" id="" name="" #username>
</div>
<!-- jr button vr apply krayche asel tr  -->
<button (click)="show(username.value)">show</button>
<div>{{uname}}</div>
{{myinputmsg}}

<h4>Transfer the data from one component to another component</h4> <!--child component(demodirective.component.ts)-->
<app-demodirectives [myinputmsg]="uname"></app-demodirectives> <!--parent component-->

<!------------------------ 8th lecture(practice) --------------------------------->
<!-- <h4>Template reference variable :-</h4>
<div style="margin-left: 200px; margin-top: 5px;">
    <input type="text" id="" name="" #username>
</div> -->
<!-- jr button vr apply krayche asel tr -->
<!-- <button (click)="show(username.value)">Click</button>
<div>{{uname}}</div>


<h4>Transfer the data from one component to another component</h4> -child component(demodirective.component.ts)-- -->
<!-- <div *ngFor="let e of EmployeeRecord">
<app-demodirectives [employee]="e"></app-demodirectives> -parent component>
</div>               -->

