<div class="container">
    <div class="row justify-content-center">
        <div class="s1 col-md-6 text-left rounded shadow ">
            <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm" class="aligh-center">
                <table class="col-md-12">
                    <tr class="col-md-12  r1">
                        <h4 class="fw-bold col-md-12 p5 text-center"
                            style="text-align: center; color: rgb(228, 35, 99);font-size: 30px;"><b>Student Registration</b> </h4>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="username">Name</label>
                                <input type="text" class="form-control" maxlength="15" minlength="5" id="firstname"
                                    name="firstname" required placeholder="Enter the name" #firstname="ngModel" ngModel>
                                <small class="text-danger" *ngIf="!firstname.valid && firstname.touched">Please enter
                                     minimum 5 characters.</small>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group ">
                                <label for="exampleInputEmail1">Email Address</label>
                                <input type="email" class="form-control" id="email" #email="ngModel" name="email" email required ngModel>
                                <small class="text-danger" *ngIf="!email.valid && email.touched">Please enter valid email</small>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group ">
                                <label for="exampleInputEmail1">DOB</label>
                                <input type="date" class="form-control" id="date" name="date" #date="ngModel" date required ngModel>
                                <small class="text-danger" *ngIf="!date.valid && date.touched">Please select DOB</small>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="username">Age</label>
                                <input type="number" class="form-control" age #age="ngModel" id="age" name="age" required placeholder="12" pattern="[17-9]{2}" 
                                    ngModel>
                               
                                <small class="text-danger" *ngIf="!age.valid && age.touched"><small *ngIf="!age.pattern">Please enter age between 17 to 20.</small> </small>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group col-md-12">
                                <label for="">Gender:</label>
                                <div *ngFor="let gender of genders" class="custom-control custom-radio">
                                    <input type="radio" id="{{gender.id}}" name="gender" value="{{gender.value}}" [ngModel]="defaultGender" class="custom-control-input">
                                    <label for="{{gender.id}}" class="custom-control-label">{{gender.value}}</label>
                                    </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" name="address" maxlength="40" id="address" address required  #address="ngModel" ngModel placeholder="Enter the address">
                                <small class="text-danger" *ngIf="!address.valid && address.touched">Please enter address.</small>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="phonenumber">Phone number</label>
                                <input type="number" class="form-control" maxlength="10" #phonenumber="ngModel"
                                    id="phonenumber" name="phonenumber" pattern="[0-9]{10}" required
                                    placeholder="00 000 00000" ngModel>
                                <small class="text-danger error"
                                    *ngIf="!phonenumber.valid && phonenumber.touched"><small *ngIf="!phonenumber.pattern">Please enter only 10 digit phonenumber.</small> </small>
                            </div>
                        </td>
                    </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <label for="course">Course<span class="text-warning fw-light">
                                            [Optional]</span></label>
                                    <select name="course" class="form-control" id="course" [ngModel]="defaultCourse">
                                        <option value="Diploma">Diploma</option>
                                    <option value="BCS">BCS</option>
                                    <option value="ITI">ITI</option>
                                    <option value="BA">BA</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        <td>
                            <div class="form-group">
                                <label for="department">Departments<span class="text-warning fw-light">
                                        [Optional]</span></label>
                                <select name="department" class="form-control" id="city" [ngModel]="defaultDept">
                                    <option value="Computer">Computer</option>
                                    <option value="Electrical">Electrical</option>
                                    <option value="Mechanical">Mechanical</option>
                                    <option value="Civil">Civil</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr class="col-md-12" style="margin: 10px;">
                        <td>
                            <div class="col-md-12 mt-3">
                                <button type="register" [disabled]="!myForm.valid"
                                    class="btn btn-primary">Submit</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>